<!--Наследуем(extendx) от файла шаблона(patten) с помощью шаблонизатора Jinja-->
{% extends 'main_site/pattern.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="sec">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at doloremque eaque facere iusto magnam, minus molestias nulla possimus, quae, quam rem veritatis. Beatae cum dignissimos ipsum iste sunt veniam?</p>
        <button class="btn btn-danger">Нажми</button>
    </div>
{% endblock %}