<!--с помощью шаблонизатора Jinja подключаем статическую папку-->
<!--файл шаблон-->
<!--обязательно load static, если нужно обращаться к статическим файлам-->
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!--    local static-->
    <link rel="stylesheet" href="{% static 'main_site/css/style.css' %}">

</head>
<body>
    <aside>
        <!--для быстрой записи ul>li*3 + Tab-->
        <ul class="menu-main">
            <a href="{% url 'home' %}"><img src="{% static 'main_site/img/2.svg' %}" alt="" class="logo"></a>
            <li><a href="{% url 'home' %}" class="{% block home%}{% endblock %}">Home</a></li>
            <li><a href="{% url 'about' %}" class="{% block about%}{% endblock %}">About</a></li>
            <li><a href="admin/" class="{% block db%}{% endblock %}">Admin</a></li>
            <li><a href="{% url 'base' %}" class="{% block base%}{% endblock %}">Base</a></li>
        </ul>
    </aside>
    <main>
        <!--Шаблонизатор Jinja открыть и закрыть конструкцию блок-->
        {% block content%}
        {% endblock %}
    </main>
</body>
</html>