<!--Наследуем(extendx) от файла шаблона(patten) с помощью шаблонизатора Jinja-->
{% extends 'main_site/pattern.html' %}
{% block base %}current{% endblock %}
{% block title %}База данных Constructor{% endblock %}

{% block content %}
    <!--    div.classname + Tab-->
    <div class="sec">
        <!--        {{ передача данных из views.py -->
        <h1>База данных Constructor</h1>
    </div>
    {# Если в таблице есть записи, выводим. Если нет, то выводим p #}
    {% if all_object %}
        {% for el in all_object %}
            <div>
                <h3>{{el.title}}</h3>
                <p>{{el.full_text}}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>В таблице записей нет</p>
    {% endif %}

    <!--дирректива include позволяет вставить код из другого файла{ % include 'main_site/название файла' %}-->
{% endblock %}