<!--Наследуем(extendx) от файла шаблона(patten) с помощью шаблонизатора Jinja-->
{% extends 'main_site/pattern.html' %}
{% block base %}current{% endblock %}
{% block title %}База данных Constructor{% endblock %}

{% block content %}
    <!--    div.classname + Tab-->
    <div class="sec">
        <!--        {{ передача данных из views.py -->
        <h1>База данных Constructor</h1>
        <a href="{% url 'create' %}">
            <button>Добавить запись</button>
        </a>
    </div>
    {# Если в таблице есть записи, выводим. Если нет, то выводим p #}
    {% if all_object %}
        {% for el in all_object %}
            <div>
                <h3>{{el.title}}</h3>
                <p>{{el.full_text}}</p>
                {# Обращение к base\urls int:pk после пробела id элемента, можно написать 1,2 и т.д. #}
                <a href="{% url 'base_detail' el.id %}" class="">Детальный просмотр</a>
            </div>
        {% endfor %}
    {% else %}
        <p>В таблице записей нет</p>
    {% endif %}

    <!--дирректива include позволяет вставить код из другого файла{ % include 'main_site/название файла' %}-->
{% endblock %}