<!--Наследуем(extendx) от файла шаблона(patten) с помощью шаблонизатора Jinja-->
{% extends 'main_site/pattern.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <!--    div.classname + Tab-->
    <div class="sec">
        <!--        {{ передача данных из views.py -->
        <h1>{{title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at doloremque eaque facere iusto magnam, minus molestias nulla possimus, quae, quam rem veritatis. Beatae cum dignissimos ipsum iste sunt veniam?</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
<!--        вывод каждого элемента циклом. Если элемент равен используем фильтер upper-->
    {% for element in values%}
        {% if element == 'One' %}
            {% filter upper %}
                <p>{{element}}</p>
            {% endfilter %}
        {% endif %}
    {% endfor %}
<!--    использование 2 способа фильтра |upper-->
    {% for el in obj.values %}
        <p class="obj_el">{{el|upper}}</p>
    {% endfor %}

    <!--дирректива include позволяет вставить код из другого файла{ % include 'main_site/название файла' %}-->
{% endblock %}